*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #efeef7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  margin: 6px 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

hr {
  display: flex;
  align-self: center;
  opacity: 0.5;
  width: 100%;
  margin: 4px 0;
}

.back-button {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.back-button:hover {
  background-color: #1a1a1a;
  color: #f5f5f5;
  transform: scale(1.01);
}

.detail-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 90%;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 16px;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 6px 12px;
}

label {
  font-size: 18px;
  text-align: left;
}

input {
  outline: none;
  width: 6.25em;
  font-size: 18px;
  text-align: right;
  border: none;
  border-radius: 6px;
  padding: 2px;
}

select {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  font-size: 18px;
  cursor: pointer;
  transition: all ease 0.3s;
}

select:hover {
  background-color: beige;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"] ::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.submit-button {
  width: 20%;
  background-color: #213c51;
  color: #f5f5f5;
  padding: 6px;
  border: 3px solid #333;
  border-radius: 8px;
  font-size: 18px;
  transition: all ease 0.3s;
}

.submit-button:hover {
  background-color: #6594b1;
  transform: scale(1.01);
}

.image-input {
  /* background-color: #f5f5f5; */
  /* border: 1px solid black; */
  /* border-radius: 6px; */
  max-width: 120px;
  max-height: 28px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.image-input:hover {
  transform: scale(1.01l);
}
