*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #efeef7;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  /* border: 1px solid black; */
  height: 695px;
}

/* header start */

header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 6px 18px;
  margin-top: 4px;
}

header p {
  font-size: 26px;
  font-weight: 600;
}

header .btn-control {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

/* header end */

/* controls start */

.controls-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding: 6px 24px;
}

.controls-container .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.btn-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  border-radius: 12px;
  border: 1.5px solid #0a1a2f;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-control:hover {
  background: rgba(10, 26, 47, 0.06);
  color: #0a1a2f;
  border: 1.5px solid #112a46;
}

.controls .btn:active {
  background-color: #a3e635;
}
/* controls end */

/* goals section start */

.goals-container {
  /* border: 1px solid black; */
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  cursor: pointer;
}

.goal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffeff;
  padding: 6px 12px;
  width: 100%;
  height: 180px;
  border-radius: 12px;
  box-shadow: 3px 4px 12px 3px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 3px 4px 12px 3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 3px 4px 12px 3px rgba(0, 0, 0, 0.26);
}

.goal-container .goal-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6px;
}

.goal-container .goal-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px;
  gap: 5px;
  text-transform: capitalize;
}

/* goals section end */

.add-goal-handler {
  position: fixed;
  bottom: 15px;
  right: 14px;
  padding: 20px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background-color: #0a1a2f;
  color: #fffeff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 0.3s;
}

.add-goal-handler:hover {
  background-color: #112a46;
  color: #f5f5f5;
  transform: scale(1.03);
}

.back-button {
  cursor: pointer;
}

.savFreq {
  text-transform: capitalize;
}

.goal-image {
  background-size: cover;
}
