<aside class="sidebar">
  <header class="header">
    <h1 class="sidebar-title">SanaBung</h1>
  </header>
  <nav class="navigation">
    <ul class="navigation-items">
      <li class="navigation-item">
        <a href="/index.html"
          ><i class="fa-solid fa-house-chimney fa-fw"></i>Dashboard</a
        >
      </li>
      <li class="navigation-item">
        <a href="frontend/pages/"
          ><i class="fa-solid fa-calendar fa-fw"></i>Schedule</a
        >
      </li>
      <li class="navigation-item">
        <a href="frontend/pages/"
          ><i class="fa-solid fa-chart-bar fa-fw"></i>Statistics</a
        >
      </li>
      <li class="navigation-item">
        <a href="frontend/pages/goals.html"
          ><i class="fa-solid fa-bullseye fa-fw"></i>Goals</a
        >
      </li>
    </ul>
  </nav>
</aside>
